:root {
  --alpha-20: rgba(0,0,0,0.05);

  --colors-base-black: #000000;
  --colors-base-dark: #19191D;
  --colors-base-grey: #5A5B6A;
  --colors-base-text: #99999E;
  --colors-base-light: #FAFAFA;
  --colors-base-white: #ffffff;

  --colors-themed-default: #5528FF;
  --colors-themed-weak: #8E70FF;
  --colors-themed-light: #fafaff;

  --colors-green-default: #4CAF50;
  --colors-green-weak: #7BC67E;
  --colors-green-light: #EDF6EE;

  --colors-yellow-default: #FFB41F;
  --colors-yellow-weak: #FFDFA0;
  --colors-yellow-light: #FFF8EA;

  --colors-red-default: #F44336;
  --colors-red-weak: #F88078;
  --colors-red-light: #FEEDEC;

  --colors-kratos-default: #FF9800;
  --colors-kratos-weak: #FFB547;
  --colors-kratos-light: #fff9f2;

  --colors-hydra-default: #FF6A85;
  --colors-hydra-weak: #FFB3C0;
  --colors-hydra-light: #fffafb;

  --colors-oathkeeper-default: #BD2FEF;
  --colors-oathkeeper-weak: #E3A5F8;
  --colors-oathkeeper-light: #f7faff;

  --colors-keto-default: #1DE9B6;
  --colors-keto-weak: #5CEFCA;
  --colors-keto-light: #f5fffb;
}

.theme-hydra {
  --colors-themed-default: var(--colors-hydra-default);
  --colors-themed-weak: var(--colors-hydra-weak);
  --colors-themed-light: var(--colors-hydra-light);
}

.theme-oathkeeper {
  --colors-themed-default: var(--colors-oathkeeper-default);
  --colors-themed-weak: var(--colors-oathkeeper-weak);
  --colors-themed-light: var(--colors-oathkeeper-light);
}

.theme-kratos {
  --colors-themed-default: var(--colors-kratos-default);
  --colors-themed-weak: var(--colors-kratos-weak);
  --colors-themed-light: var(--colors-kratos-light);
}

.theme-keto {
  --colors-themed-default: var(--colors-keto-default);
  --colors-themed-weak: var(--colors-keto-weak);
  --colors-themed-light: var(--colors-keto-light);
}