@lost gutter 20px;
@lost flexbox flex;

.container-fluid {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.row {
  lost-flex-container: row;
}

.top-sm {
  align-items: flex-start;
}

.middle-sm {
  align-items: center;
}

.bottom-sm {
  align-items: flex-end;
}

@media (--mobile-viewport) {
  .mobile-offset-64 {
    margin-top: 64px !important;
  }
  .mobile-offset-32 {
    margin-top: 32px !important;
  }
  .mobile-offset-16 {
    margin-top: 16px !important;
  }
  .mobile-offset-8 {
    margin-top: 8px !important;
  }
  .center-mobile {
    text-align: center;
    margin: 0 auto;
  }
}

@media (--sm-viewport) {
  .hidden-sm {
    display: none !important;
  }
}

@media (--md-viewport) {
  .hidden-md {
    display: none !important;
  }
}

@media (--lg-viewport) {
  .hidden-lg {
    display: none !important;
  }
}

@for $i from 1 to 12 {
  .col-sm-$i {
    lost-column: $(i) / 12 12 10px;
  }

  .col-sm-offset-$i {
    lost-offset: $(i) / 12 12 20px;
  }
}

@media (--md-viewport) {
  .container-fluid {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  @for $i from 1 to 12 {
    .col-md-$i {
      lost-column: $(i) / 12 12 20px;
    }

    .col-md-offset-$i {
      lost-offset: $(i) / 12 12 20px;
    }
  }
}

@media (--lg-viewport) {
  .container-fluid {
    width: calc(100% - 20px);
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  @for $i from 1 to 12 {
    .col-lg-$i {
      lost-column: $(i) / 12 12 20px;
    }

    .col-lg-offset-$i {
      lost-offset: $(i) / 12 12 20px;
    }
  }
}
