@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans:300,400,500,600|Open+Sans:600&display=swap');
@import './properties.css';

html {
  text-rendering: geometricPrecision;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
input,
div {
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  margin-top: 0;
  padding-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  padding-top: 0;
}

h1 {
  font-weight: normal;
  font-size: 76px;
  line-height: 126%;
  margin-bottom: 32px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  line-height: 168%;
  margin-bottom: 32px;
}

h3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 126%;
}

h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 168%;
  margin-bottom: 0;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 168%;
  margin: 0;
}

p + p {
  margin-top: 16px;
}

a:any-link {
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;
}

p.secondary {
  font-weight: normal;
  font-size: 12px;
  line-height: 168%;
}

ul,
ol {
  padding: 0;
  margin: 32px 0 20px 32px;
  list-style-position: outside;

  & li {
    font-size: 18px;
    line-height: 168%;
    margin: 0 0 12px 0;
    padding: 0 0 0 12px;
  }
}

main a.cta {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  padding: 10px 16px;
  box-sizing: border-box;
  margin: 32px 32px 0 0;
  text-decoration: none;
  transition: color ease 200ms, background-color ease 200ms,
    border-color ease 200ms;

  &.primary,
  &.primary.visited {
    border: 2px solid;
  }

  &.secondary,
  &.secondary.visited {
    border: 2px solid;
    padding: 10px 16px;
  }

  &.tertiary,
  &.tertiary.visited {
    border: 2px solid;
  }
}

.remark-emoji {
  width: 1em;
  height: 1em;
  display: inline !important;
  margin-top: 1px;
}

@media (--mobile-viewport) {
  h1 {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 32px;
  }

  h2 {
    font-weight: 300;
    font-size: 20px;
    line-height: 168%;
    margin-bottom: 32px;
  }

  h3 {
    font-weight: 300;
    font-size: 20px;
    line-height: 168%;
    margin-bottom: 16px;
  }

  h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 168%;
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    line-height: 168%;
  }

  p + p {
    margin-top: 16px;
  }
}
