@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  overflow: hidden;
}

/*background color none*/
.box-main {
  box-sizing: border-box;
  position: relative;  
  width: 496px;
}

/*chronological order*/

/*main descriptions*/
.name-user {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

.name-access {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

.name-api {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

/*user*/
.object-user-body {
  stroke-dasharray: 118.5;
  stroke-dashoffset: 118.5;
  animation: dash .7s linear forwards;
}

.object-user-head {
  stroke-dasharray: 145.73;
  stroke-dashoffset: -145.73;
  animation: dash .7s linear forwards;
}

/*shield*/
.object-shield-line {
  stroke-dasharray: 200;
  stroke-dashoffset: -200;
  animation: dash .7s linear forwards;
}

.object-shield-logo {
  animation: fadein ease-in .5s;
}

/*api*/
.object-api-lines {
  stroke-dasharray: 7;
  stroke-dashoffset: 7;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

.object-api-lights {
  stroke-dasharray: 3;
  stroke-dashoffset: 3;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

.object-api-node1 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  animation: dash .5s linear forwards;
}

.object-api-node2 {
  stroke-dasharray: 16;
  stroke-dashoffset: -16;
  animation: dash .5s linear forwards;
}

.object-api-node3 {
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  animation: dash .5s linear forwards;
  animation-delay: .2s;
}

.object-api-node {
  stroke-dasharray: 31.42;
  stroke-dashoffset: 31.42;
  animation: dash .5s linear forwards;
}

.object-api-frame {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  animation: dash .5s linear forwards;
  animation-delay: .2s;
}

.object-api-divi {
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

/* A -> B @2seconds */
.accreq-line1 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 2s;
}

.accreq-segment {  
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 2.3s;
}

.desc-apirequest {
  text-align: center;
  animation: text-fadein ease-in .3s forwards;
  animation-delay: 2.3s;
  opacity: 0;
}

.accreq-line2 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 2.6s;
}

.accreq-fill {  
  animation: filler 0.3s ease-in forwards;
  animation-delay: 2.6s;
}

.accreq-arrow {
  animation: appear-r 0.1s linear forwards;
  animation-delay: 2.9s;
  opacity:0;
}

/* B -> APIBILLING*/
.accon-line {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 4s;
}

.accon-arrow {
  animation: appear-d .1s linear forwards;
  animation-delay: 4.2s;
  opacity: 0;
}


/*APIBILLING*/
.object-card-border {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: dash .3s linear forwards;
  animation-delay: 4.5s;
}

.desc-apibilling { /*fades in and out after processing*/
  text-align: center;
  animation: text-fadeinout ease-in 1.6s forwards; 
  animation-delay: 4.5s;
  opacity: 0;
}

.object-card-stripe {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: dash .3s linear forwards;
  animation-delay: 4.8s;
}

.object-card-name1 {
  stroke-dasharray: 2;
  stroke-dashoffset: 2;
  animation: dash .3s linear forwards;
  animation-delay: 4.8s;
}

.object-card-name2 {
  stroke-dasharray: 4;
  stroke-dashoffset: 4;
  animation: dash .3s linear forwards;
  animation-delay: 4.8s;
}

.object-card-circle {
  stroke-dasharray: 37.7;
  stroke-dashoffset: 37.7;
  animation: dash .3s linear forwards;
  animation-delay: 4.8s;
}

/*loading @3seconds*/
.object-shield-load {
transform-origin: 248px 32px;
animation: loader ease-in-out 1s;
animation-iteration-count: 1;
animation-delay: 5.1s;
}

.object-card-fill {  
  animation: filler 0.3s ease-in forwards;
  animation-delay: 5.8s;
}

.desc-transaction {
  text-align: center;
  animation: text-fadein ease-in .3s forwards;
  animation-delay: 6.1s;
  opacity: 0;
}

.object-card-check {
  stroke-dasharray: 8;
  stroke-dashoffset: 8;
  animation: dash .3s linear forwards;
  animation-delay: 6.1s;
}

.accon-line-rev {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 6.4s;
}

.accon-arrow-rev {
  animation: appear-u .1s linear forwards;
  animation-delay: 6.6s;
  opacity: 0;
}

/* B -> C */
.accreq-line11 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 7.6s;
}

.accreq-segment2 {  
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 7.9s;
}

.desc-userbilled {
  text-align: center;
  animation: text-fadein ease-in .3s forwards;
  animation-delay: 7.9s;
  opacity: 0;
}

.accreq-fill2 {  
  animation: filler 0.3s ease-in forwards;
  animation-delay: 7.9s;
}

.accreq-line22 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 8.2s;
}

.accreq-arrow2 {
  animation: appear-r 0.1s linear forwards;
  animation-delay: 8.4s;
  opacity:0;
}

/*Names duration=.5s delay=var after=var*/

@keyframes text-fadein {
  from {
    opacity: 0;
    transform: translate(0, 5px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes text-fadeinout {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: none;
  }
  90% {
    opacity: 1;
    transform: none;
  }
  0% {
    transform: translate(0, 5px);
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, 2px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate(0, -2px);
  }
}

@keyframes appear-r {
  from {
    opacity: 0;
    transform: translate(-4px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-d {
  from {
    opacity: 0;
    transform: translate(0px, -4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-u {
  from {
    opacity: 0;
    transform: translate(0px, 4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes loader{
  0% {
    transform:  rotate(0deg);
  }
  100% {
    transform:  rotate(1080deg);
  }
}

@keyframes filler{
  to {
    fill: #2ecc71;
  }
}