@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html, body {
  overflow: hidden;
}

/*background color none*/
.box-main {
  box-sizing: border-box;
  position: relative;
  width: 496px;
}

/*chronological order*/

/*main descriptions*/
.name-user {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

.name-access {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

.name-api {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: .7s;
  opacity: 0;
}

/*user*/
.object-user-body {
  stroke-dasharray: 118.5;
  stroke-dashoffset: 118.5;
  animation: dash .7s linear forwards;
}

.object-user-head {
  stroke-dasharray: 145.73;
  stroke-dashoffset: -145.73;
  animation: dash .7s linear forwards;
}

/*shield*/
.object-shield-line {
  stroke-dasharray: 200;
  stroke-dashoffset: -200;
  animation: dash .7s linear forwards;
}

.object-shield-logo {
  animation: fadein ease-in .5s;
}

/*api*/
.object-api-lines {
  stroke-dasharray: 7;
  stroke-dashoffset: 7;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

.object-api-lights {
  stroke-dasharray: 3;
  stroke-dashoffset: 3;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

.object-api-node1 {
  stroke-dasharray: 16;
  stroke-dashoffset: 16;
  animation: dash .5s linear forwards;
}

.object-api-node2 {
  stroke-dasharray: 16;
  stroke-dashoffset: -16;
  animation: dash .5s linear forwards;
}

.object-api-node3 {
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
  animation: dash .5s linear forwards;
  animation-delay: .2s;
}

.object-api-node {
  stroke-dasharray: 31.42;
  stroke-dashoffset: 31.42;
  animation: dash .5s linear forwards;
}

.object-api-frame {
  stroke-dasharray: 116;
  stroke-dashoffset: 116;
  animation: dash .5s linear forwards;
  animation-delay: .2s;
}

.object-api-divi {
  stroke-dasharray: 34;
  stroke-dashoffset: 34;
  animation: dash .2s linear forwards;
  animation-delay: .5s;
}

/* left - simultaneous */
.auth-mid1 {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: dash .3s linear forwards;
  animation-delay: 2s;
}

.auth-top1 {
  stroke-dasharray: 72;
  stroke-dashoffset: 72;
  animation: dash .3s linear forwards;
  animation-delay: 2.3s;
}

.auth-bot1 {
  stroke-dasharray: 88;
  stroke-dashoffset: 88;
  animation: dash .3s linear forwards;
  animation-delay: 2.3s;
}

.auth-mid2 {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: dash .15s linear forwards;
  animation-delay: 2.45s;
}

.icon-web {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: 2.6s;
  opacity: 0;
}

.icon-mobile {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: 2.6s;
  opacity: 0;
}

.icon-api {
  text-align: center;
  animation: text-fadein ease-in forwards .3s;
  animation-delay: 2.6s;
  opacity: 0;
}

/* right - simultaneous */
.auth-mid3 {
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  animation: dash .3s linear forwards;
  animation-delay: 3.5s;
}

.auth-top2 {
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  animation: dash .3s linear forwards;
  animation-delay: 3.5s;
}

.auth-bot2 {
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  animation: dash .3s linear forwards;
  animation-delay: 3.5s;
}

.auth-mid-fill {
  animation: filler .3s ease-in forwards;
  animation-delay: 3.8s;
}

.auth-top-fill {
  animation: filler .3s ease-in forwards;
  animation-delay: 3.8s;
}

.auth-bot-fill {
  animation: filler .3s ease-in forwards;
  animation-delay: 3.8s;
}

.auth-mid4 {
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 3.8s;
}

.auth-top3 {
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 3.8s;
}

.auth-bot3 {
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 3.8s;
}

/* after token*/
.auth-bot4 {
  stroke-dasharray: 67;
  stroke-dashoffset: -67;
  animation: dash .3s linear forwards;
  animation-delay: 4.1s;
}

.auth-top4 {
  stroke-dasharray: 67;
  stroke-dashoffset: -67;
  animation: dash .3s linear forwards;
  animation-delay: 4.1s;
}

.auth-mid5 {
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  animation: dash .15s linear forwards;
  animation-delay: 4.25s;
}

.auth-mid-arrow {
  animation: appear-r 0.1s linear forwards;
  animation-delay: 4.3s;
  opacity: 0;
}

.auth-top-arrow {
  animation: appear-d 0.1s linear forwards;
  animation-delay: 4.3s;
  opacity: 0;
}

.auth-bot-arrow {
  animation: appear-u 0.1s linear forwards;
  animation-delay: 4.3s;
  opacity: 0;
}

/*loading @3seconds*/
.object-shield-load {
  transform-origin: 248px 88px;
  animation: loader ease-in-out 1s;
  animation-iteration-count: 1;
  animation-delay: 4.5s;
}

/* B -> C */
.userid-1 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 5.5s;
}

.userid-2 {
  stroke-dasharray: 50.27;
  stroke-dashoffset: 50.27;
  animation: dash .3s linear forwards;
  animation-delay: 5.8s;
}

.desc-userid {
  text-align: center;
  animation: text-fadein ease-in .3s forwards;
  animation-delay: 5.8s;
  opacity: 0;
}

.user-fill {
  animation: filler 0.3s ease-in forwards;
  animation-delay: 5.8s;
}

.userid-3 {
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
  animation: dash .3s linear forwards;
  animation-delay: 6.1s;
}

.userid-arrow {
  animation: appear-r 0.1s linear forwards;
  animation-delay: 6.3s;
  opacity: 0;
}

@keyframes text-fadein {
  from {
    opacity: 0;
    transform: translate(0, 5px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes text-fadeinout {
  0% {
    transform: translate(0, -5px);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: none;
  }
  90% {
    opacity: 1;
    transform: none;
  }
  0% {
    transform: translate(0, 5px);
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(0, 2px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translate(0, -2px);
  }
}

@keyframes appear-r {
  from {
    opacity: 0;
    transform: translate(-4px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-d {
  from {
    opacity: 0;
    transform: translate(0px, -4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes appear-u {
  from {
    opacity: 0;
    transform: translate(0px, 4px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}

@keyframes filler {
  to {
    fill: #2ecc71;
  }
}