.adopters {
  background-color: var(--colors-themed-light);
  padding: 64px 0;
  position: relative;

  & a img {
    transition: all ease 200ms;
  }

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      & img {
        filter: invert(1);
      }
    }
  }
}

@media (--mobile-viewport) {
  .adopters {
    padding: 64px 0;
  }
  .adopters :global .container-fluid .row {
    flex-direction: column-reverse;
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos {
  height: 100%;
}

.logos-inner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  & img {
    height: 100%;
    width: 100%;
    margin: 0 4px 16px 4px;
    max-width: 128px;
    max-height: 40px;
  }
}
