@import "../styles/properties.css";

.announcement {
    text-align: center;
    background-color: var(--ory-brand-tertiary);
    padding: 16px 0;
    color: var(--ory-brand-black);
    font-size: 16px;

    & a, & a:visited {
        color: var(--ory-brand-white);
        text-decoration: underline;
        &:hover, &:active {
            color: var(--ory-brand-primary);
        }
    }
}
