@import '../styles/properties.css';

.announcement {
  text-align: center;
  background-color: var(--colors-hydra-default);
  padding: 16px 0;
  color: var(--colors-base-black);
  font-size: 16px;

  & a:any-link {
    color: var(--colors-base-white);
    text-decoration: underline;
    &:hover,
    &:active {
      color: var(--colors-themed-default);
    }
  }
}
