@import '../styles/properties.css';

.announcement {
  text-align: center;
  background-color: var(--colors-ui-tertiary);
  padding: 16px 0;
  color: var(--colors-ui-black);
  font-size: 16px;

  & a:any-link {
    color: var(--colors-ui-white);
    text-decoration: underline;
    &:hover,
    &:active {
      color: var(--colors-brand-primary);
    }
  }
}
