@import '../styles/properties.css';

.blog-summary {
  background: linear-gradient(to bottom, var(--colors-themed-default) 96px, var(--colors-themed-light) 96px);

  & h4 {
    height: auto;
    margin-bottom: 16px;
    color: var(--colors-themed-default)
  }

  & :global a:any-link {
    color: var(--colors-base-dark);

    &:hover {
      color: var(--colors-base-white);
    }
  }
}

.blog-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.blog-box {
  width: 30%;
  background-color: var(--colors-base-white);
  padding: 32px 16px;

  &:hover {
    background-color: var(--colors-base-dark);
    transform: translateY(-4px);
    transition: 0.25s ease-in-out;
  }
}

@media (--sm-viewport) {

  .blog-summary {
    & h4 {
      height: auto;
    }
  }

  .blog-row {
    flex-wrap: wrap;
  }

  .blog-box {
    width: 100%;
  }
}

@media (--md-viewport) {

  .blog-summary {
    & h4 {
      height: auto;
    }
  }

  .blog-row {
    flex-wrap: wrap;
  }

  .blog-box {
    width: 100%;
  }
}

