@import '../styles/properties.css';

.title {
  background: var(--colors-base-dark);

  color: var(--colors-base-white);

  & :global .container-fluid {
    position: relative;
    padding: 96px 0;
  }

  & h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 126%;
    margin-bottom: 16px;
  }

  & .meta {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 168%;
    color: var(--colors-base-white);

    & .author {
      color: var(--colors-themed-default);
    }
  }
}

.subtitle {
  color: var(--colors-themed-default);
  font-size: 12px;
  line-height: 126%;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  font-weight: 600;
}

@media (--sm-viewport) {
  .title {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}

@media (--md-viewport) {
  .title {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}

.teaser {
  background: var(--colors-base-dark);

  color: var(--colors-base-white);

  & a:any-link {
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-white);
      text-decoration: underline;
    }
  }

  & :global .container-fluid {
    position: relative;
    padding: 32px 0;
  }
}
