@import '../styles/properties.css';

.section {
  padding: 64px 0;

  background-color: var(--colors-base-white);

  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & li,
  & code,
  & dl,
  & dd,
  & dt,
  & p {
    margin-top: 0;
    color: var(--colors-base-dark);
  }

  & p,
  & li {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 168%;
    margin-top: 0;

    & strong {
      font-weight: 500;
    }
  }

  & pre {
    margin-bottom: 32px !important;
  }

  & p,
  & ul,
  & ol {
    margin-bottom: 32px;
  }

  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & li {
    margin-bottom: 16px;
  }

  & h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 126%;
  }

  & h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 168%;
  }

  & h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 168%;
  }

  & h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 168%;
  }

  & h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 168%;
  }

  & p a {
    transition: all ease 200ms;
  }

  & a:any-link {
    color: var(--colors-themed-default);
  }

  & p a:hover,
  & p a:active {
    color: var(--colors-base-dark);
    text-decoration: underline;
  }

  & img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  & :not(pre) > code[class*='language-'] {
    padding: 0 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 168%;
    color: var(--colors-base-dark);
    font-family: 'IBM Plex Mono', monospace;
  }

  & p + p {
    margin-top: -16px;
  }

  & blockquote p {
    font-weight: 300;
    font-size: 20px;
    line-height: 168%;
    padding-left: 34px;
    margin-bottom: 32px;
    border-left: 2px solid var(--colors-themed-default);
  }

  & figure {
    padding-top: 16px;
    & img {
      margin-bottom: 16px;
    }

    & figcaption {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 168%;
      margin-bottom: 32px;
    }
  }
}

@media (--sm-viewport) {
  .section {
    padding: 64px 0;
  }
}

@media (--md-viewport) {
  .section {
    padding: 64px 0;
  }
}
