.box {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--colors-ory-dark);
  border-radius: 15px;
  padding: 8px 16px;
  min-height: 360px;
}

.tabs {
  display: flex;
  align-items: center;
  color: var(--colors-base-white);
  & .tab {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 168%;
    margin-right: 16px;
    padding: 0 8px;
    cursor: pointer;
    &.selected {
      border-bottom: 1px solid var(--colors-hydra-default);
    }
  }
}

.window-actions {
  display: flex;
  align-items: center;
  height: 20px;
  margin-right: 5px;
  & .window-action {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--colors-ory-dark);
    margin-right: 5px;

    &.primary {
      background-color: var(--colors-hydra-default);
    }
  }
}

.content {
  & pre {
    display: none;

    &.active {
      display: block;
    }
  }

  &,
  & pre,
  & code {
    color: var(--colors-base-white);
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 175%;
    background-color: var(--colors-ory-dark);

    word-wrap: break-word;
    white-space: pre-wrap;
  }

  & pre code :global .token.operator {
    color: var(--colors-base-white);
    background-color: var(--colors-ory-dark);
  }
}
