.box {
  background-color: var(--colors-base-black);
  border-radius: 4px;
  padding: 8px 16px;
  min-height: 360px;
}

.editor-header {
  display: flex;
  align-items: bottom;
  color: var(--colors-base-white);
  & .tabs {
    overflow: auto;
  }
  & .tab {
    font-family: 'IBM Plex Mono', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 250%;
    margin-right: 16px;
    cursor: pointer;
    display: inline;
    }
  }

:global .theme-hydra :local .tab {
  &.selected {
    border-bottom: 1px solid var(--colors-hydra-default);
  }
}

:global .theme-kratos :local .tab {
  &.selected {
    border-bottom: 1px solid var(--colors-kratos-default);
  }
}

.window-actions {
  display: flex;
  align-items: center;
  height: 20px;
  margin-right: 16px;
  & .window-action {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: var(--colors-ory-default);
    margin-right: 5px;
  }
}

:global .theme-hydra :local .window-action {
  &.primary {
    background-color: var(--colors-hydra-default);
  }
}

:global .theme-kratos :local .window-action {
  &.primary {
    background-color: var(--colors-kratos-default);
  }
}

.content {
  & pre {
    display: none;

    &.active {
      display: block;
    }
  }

  &,
  & pre,
  & code {
    color: var(--colors-base-white);
    font-family: 'IBM Plex Mono', monospace;
    text-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 175%;
    background-color: var(--colors-base-black);

    word-wrap: break-word;
    white-space: pre-wrap;
  }

  & pre code :global .token.operator {
    color: var(--colors-base-white);
    background-color: var(--colors-base-black);
  }
}
