@import '../styles/properties.css';

.compressed {
  background-color: var(--colors-themed-light);
  padding: 64px 0;

  &.expanded {
    background-color: var(--colors-base-white);
    padding: 112px 0;
  }

  & h3,
  & p {
    color: var(--colors-base-dark);
  }

  & a:any-link {
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-dark);
      text-decoration: underline;
    }
  }
}

@media (--sm-viewport) {
  .compressed {
    padding: 32px 0;
  }
}

@media (--md-viewport) {
  .compressed {
    padding: 32px 0;
  }
}
