@import '../styles/properties.css';

.footer {
  background-color: var(--colors-base-dark);
  padding: 36px 0;
  color: var(--colors-base-white);
}

.footer a:any-link {
  color: var(--colors-base-white);

  &:hover,
  &:active,
  &:focus {
    color: var(--colors-themed-default);
  }
}

.footer .contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 168%;
  margin-bottom: 8px;
  margin-top: 32px;
}

.footer .copyright {
  color: var(--colors-base-grey);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 168%;
  margin-bottom: 16px;
}

.footer .divider {
  border-top: 1px solid var(--colors-base-grey);
  margin: 32px 0;
}

.list-title {
  color: var(--colors-base-white);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 168%;
  margin-bottom: 16px;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 168%;
  margin-bottom: 8px;
  padding: 0;
  list-style-type: none;
}

.menu-row {
  justify-content: flex-end;
}

.menu-row a:any-link {
  color: var(--colors-base-light);

  &:hover,
  &:active,
  &:focus {
    color: var(--colors-themed-default);
  }
}

.menu-item {
  margin-right: 64px;

  &:last-child {
    margin-right: 0 !important;
  }
}

.comp-row {
  justify-content: flex-end;
}

.comp-row a:any-link {
  color: var(--colors-base-grey);

  &:hover,
  &:active,
  &:focus {
    color: var(--colors-themed-default);
  }
}

.comp-item {
  float: left;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 168%;
  margin-bottom: 8px;
  margin-right: 64px;
  padding: 0;

  &:last-child {
    margin-right: 0 !important;
  }
}

@media (--mobile-viewport) {
  .menu-row {
    justify-content: center;
    flex-direction: column;
  }

  .comp-row {
    justify-content: center;
    flex-direction: column;
  }

  .menu-item {
    margin-bottom: 32px;
    margin-right: 0;
  }

  .comp-item {
    float: none;
    margin-bottom: 16px;
    margin-right: 0;
  }
}
