@import '../styles/properties.css';

.footer {
  background-color: var(--colors-ory-dark);
  padding: 36px 0;
  color: var(--colors-ui-white);
}

.footer a:any-link {
  color: var(--colors-base-white);
}

:global .theme-default :local .footer a:any-link {
  &:hover,
  &:active,
  &:focus {
    color: var(--colors-ory-default);
  }
}

:global .theme-hydra :local .footer a:any-link {
  &:hover,
  &:active,
  &:focus {
    color: var(--colors-hydra-default);
  }
}

.footer .contact {
  margin-top: 16px;
  margin-bottom: 2px;
}

.footer .copyright {
  color: var(--colors-base-white);
}

.list-title {
  color: var(--colors-base-white);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 168%;
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  margin: 0;
  padding: 0;
  list-style-type: none;

  & a:any-link {
    font-size: 14px;
    line-height: 168%;
  }
}

.menu-row {
  justify-content: flex-end;
}

.menu-item {
  margin-right: 32px;
}

@media (--mobile-viewport) {
  .menu-row {
    justify-content: center;
    flex-direction: column;
  }

  .menu-item {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
