@import '../styles/properties.css';

.header {
  height: var(--nav-height);
  width: 100%;
  background: var(--colors-ory-dark);
  color: var(--colors-base-white);
  display: flex;
  align-items: center;

  & a,
  & a:visited {
    color: var(--colors-base-white);
  }
}

:global .theme-default :local .header {
  & a,
  & a:visited {
    &:hover,
    &:focus,
    &:active {
      color: var(--colors-ory-default);
    }
  }

  & .logo {
    color: var(--colors-ory-default);
  }
}

:global .theme-hydra :local .header {
  & a,
  & a:visited {
    &:hover,
    &:focus,
    &:active {
      color: var(--colors-hydra-default);
    }
  }

  & .logo {
    color: var(--colors-hydra-default);
  }
}

.project-name {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  margin-left: 4px;
  white-space: nowrap;
}

.project-name-tiny {
  margin-left: 8px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li:first-child {
  margin-left: 32px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li {
  padding: 0;
  display: inline-block;
  margin: 0 16px;
  font-size: 14px;
  line-height: 18px;
}

.menu li a,
.menu li a:hover {
  text-decoration: none;
}

.left-menu {
  flex-grow: 1;
}

.right-menu {
  flex-grow: 0;
}

.icon-menu {
  & ul {
    padding: 0;
    margin: 0;
  }

  & li {
    padding: 0;
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;

    & a img {
      transition: filter ease 200ms;
    }

    & a:hover,
    & a:active {
      & img {
        filter: invert(1);
      }
    }
  }
}
