@import '../styles/properties.css';

.hero {
  background-color: var(--colors-themed-default);
  color: var(--colors-base-white);
  text-align: center;

  & :global a.cta.secondary:any-link {
    color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      border-color: var(--colors-base-white);
      color: var(--colors-base-white);
    }
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
    background-color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--colors-base-white);
      border-color: var(--colors-base-white);
      color: var(--colors-themed-default);
    }
  }

  & :global .container-fluid {
    position: relative;
    padding: 112px 0;
  }
}

@media (--sm-viewport) {
  .hero {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}

@media (--md-viewport) {
  .hero {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}
