@import '../styles/properties.css';

.hero {
  background-color: var(--colors-ory-default);
  color: var(--colors-base-white);

  & :global a.cta.secondary:any-link {
    color: var(--colors-ory-dark);
    border-color: var(--colors-ory-dark);
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
  }

  & :global .container-fluid {
    position: relative;
    padding: 112px 0;
  }
}

:global .theme-default :local .hero {
  background-color: var(--colors-ory-default);
}

:global .theme-default :local .hero :global a.cta {
  &.primary:any-link {
    background-color: var(--colors-ory-dark);
    border-color: var(--colors-ory-dark);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--colors-base-white);
      border-color: var(--colors-base-white);
      color: var(--colors-ory-dark);
    }
  }

  &.secondary:any-link {
    &:hover {
      border-color: var(--colors-base-white);
      color: var(--colors-base-white);
    }
  }
}

:global .theme-hydra :local .hero {
  background-color: var(--colors-hydra-default);
}

:global .theme-hydra :local .hero :global a.cta {
  &.primary:any-link {
    background-color: var(--colors-ory-dark);
    border-color: var(--colors-ory-dark);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--colors-base-white);
      border-color: var(--colors-base-white);
      color: var(--colors-hydra-default);
    }
  }

  &.secondary:any-link {
    &:hover,
    &:focus {
      border-color: var(--colors-base-white);
      color: var(--colors-base-white);
    }
  }
}

:global .theme-kratos :local .hero {
  background-color: var(--colors-kratos-default);
}

:global .theme-kratos :local .hero :global a.cta {
  &.primary:any-link {
    background-color: var(--colors-ory-dark);
    border-color: var(--colors-ory-dark);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--colors-base-white);
      border-color: var(--colors-base-white);
      color: var(--colors-kratos-default);
    }
  }

  &.secondary:any-link {
    &:hover,
    &:focus {
      border-color: var(--colors-base-white);
      color: var(--colors-base-white);
    }
  }
}

@media (--sm-viewport) {
  .hero {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}

@media (--md-viewport) {
  .hero {
    & :global .container-fluid {
      padding: 64px 0;
    }
  }
}

.logo {
  position: absolute;
  content: ' ';
  right: 40px;
  width: 228px;
  height: 460px;
  top: 54px;
  background-image: url('../images/hero-logo-desktop.svg');
}

@media (max-width: 1280px) {
  .logo {
    width: 80px;
    height: 320px;
    top: 64px;
    right: 0;
    background-image: url('../images/hero-logo-mobile.svg');
  }
}
