@import '../styles/properties.css';
@import '../styles/grid.css';
@import '../styles/global.css';
@import '../styles/typography.css';

.newsletter {
  background-color: var(--colors-ui-dark-primary);
  padding: 96px 0;
  position: relative;
  color: var(--colors-ui-white);
}

@media (--sm-viewport) {
  .newsletter {
    padding: 64px 0;
  }

  .right {
    margin-top: 32px;
  }
}

@media (--md-viewport) {
  .newsletter {
    padding: 64px 0;
  }

  .right {
    margin-top: 32px;
  }
}

.light {
  background-color: var(--colors-ui-primary-dark-70);
}

.form {
  width: 100%;
  margin-bottom: 10px;

  & input {
    font-style: normal;
    font-size: 14px;
    color: var(--colors-ui-white);
    padding: 8px 16px;
    border: none;
    line-height: 168%;
  }

  & input[type='button'] {
    font-weight: 500;
    width: calc(40%);
    cursor: pointer;
    transition: color ease 200ms, background-color ease 200ms,
      border-color ease 200ms;
  }

  & input[type='email'] {
    background-color: rgba(255, 255, 255, 0.3);
    width: calc(60% - 32px);

    &::placeholder {
      color: var(--colors-ui-white);
    }
  }
}

:global .theme-default {
  & :local .form input[type='button'] {
    background-color: var(--colors-brand-secondary);

    &:hover,
    &:focus {
      color: var(--colors-brand-secondary);
      background-color: var(--colors-ui-white);
    }

    &:active {
      background-color: var(--colors-ui-white-shade-15);
    }
  }
}

:global .theme-hydra {
  & :local .form input[type='button'] {
    background-color: var(--colors-brand-hydra);

    &:hover,
    &:focus {
      color: var(--colors-brand-hydra);
      background-color: var(--colors-ui-white);
    }

    &:active {
      background-color: var(--colors-ui-white-shade-15);
    }
  }
}
