.information {
  margin-bottom: 64px;
}

.projects {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex-wrap: wrap;

  & :nth-child(2n) {
    margin-right: 0;
  }
}

.project {
  background: var(--alpha-20);
  padding: 16px;
  margin-bottom: 32px;
  height: calc(100% - 32px);
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: color ease 200ms;
  text-align: left;

  &.kratos {
    border-bottom: 2px solid var(--colors-kratos-default);
    &:hover,
    &:focus,
    &:active {
      background: var(--colors-kratos-default);
    }
  }

  &.hydra {
    border-bottom: 2px solid var(--colors-hydra-default);
    &:hover,
    &:focus,
    &:active {
      background: var(--colors-hydra-default);
    }
  }

  &.oathkeeper {
    border-bottom: 2px solid var(--colors-oathkeeper-default);
    &:hover,
    &:focus,
    &:active {
      background: var(--colors-oathkeeper-default);
    }
  }

  &.keto {
    border-bottom: 2px solid var(--colors-keto-default);
    &:hover,
    &:focus,
    &:active {
      background: var(--colors-keto-default);
    }
  }

  &:hover,
  &:focus,
  &:active {
    text-decoration: none !important;
  }

  & p,
  & h3 {
    color: var(--colors-base-white);
  }
  & h4 {
    color: var(--colors-base-white);
    margin-bottom: 32px;
  }
}

@media (--mobile-viewport) {
  .information {
    margin-bottom: 32px;
  }

  .project {
    display: inline-flex;
    margin-bottom: 32px;
  }
}
