.description {
    margin: 0;
}

.project {
    display: flex;
    margin-bottom: 32px;
    cursor: pointer;
    transition: color ease 200ms;

    & img {
        margin-right: 20px;
        max-width: 90px;
        max-height: 90px;
        width: 100%;
        transition: transform ease 200ms;
    }

    &:hover p, &:hover h4 {
        color: var(--ory-brand-tertiary);
    }

    &:hover img {
        transform: rotate(90deg);
    }
}

@media (--mobile-viewport) {
    .section :global .container-fluid .row {
        flex-direction: column-reverse;
    }

    .project {
        display: flex;
        margin-bottom: 32px;

        & img {
            margin-right: 16px;
            max-width: 50px;
            max-height: 50px;
        }
    }
}
