.description {
  margin: 0;
}

.project {
  display: flex;
  margin-bottom: 32px;
  cursor: pointer;
  transition: color ease 200ms;
  text-align: left;

  & img {
    margin-right: 20px;
    min-height: 40px;
    max-height: 40px;
    transition: transform ease 200ms;
  }

  &.kratos {
    &:hover,
    &:focus,
    &:active {
      & h4,
      & p {
        color: var(--colors-kratos-default);
        text-decoration: none;
      }
    }
  }

  &.hydra {
    &:hover,
    &:focus,
    &:active {
      & h4,
      & p {
        color: var(--colors-hydra-default);
        text-decoration: none;
      }
    }
  }

  &.oathkeeper {
    &:hover,
    &:focus,
    &:active {
      & h4,
      & p {
        color: var(--colors-oathkeeper-default);
        text-decoration: none;
      }
    }
  }

  &.keto {
    &:hover,
    &:focus,
    &:active {
      & h4,
      & p {
        color: var(--colors-keto-default);
        text-decoration: none;
      }
    }
  }

  &:hover,
     &:focus,
     &:active {
       text-decoration: none !important;
     }

  & p,
  & h4 {
    color: var(--colors-base-white);
  }
}

@media (--mobile-viewport) {
  .section :global .container-fluid .row {
    flex-direction: column-reverse;
  }

  .project {
    display: flex;
    margin-bottom: 32px;

    & img {
      margin-right: 16px;
      max-height: 40px;
      min-height: 40px;
    }
  }
}
