@import '../styles/properties.css';

.section {
  padding: 192px 0;

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &.light {
    background-color: var(--colors-base-white);

    & h3,
    & p {
      color: var(--colors-base-dark);
    }

    & a:any-link {
      color: var(--colors-themed-default);

      &:hover,
      &:active,
      &:focus {
        color: var(--colors-base-dark);
      }
    }
  }

  &.dark {
    color: var(--colors-base-white);
    background-color: var(--colors-base-dark);

    & a:any-link {
      color: var(--colors-themed-default);

      &:hover,
      &:active,
      &:focus {
        color: var(--colors-base-white);
      }
    }
  }
}

@media (--sm-viewport) {
  .section {
    padding: 64px 0;
  }
}

@media (--md-viewport) {
  .section {
    padding: 64px 0;
  }
}
