@import '../styles/properties.css';

.section {
  padding: 192px 0;

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  &.light {
    background-color: var(--colors-base-white);

    & h3,
    & p {
      color: var(--colors-ory-dark);
    }

    & a:any-link {
      &:hover,
      &:active,
      &:focus {
        color: var(--colors-ory-dark);
      }
    }
  }

  &.dark {
    color: var(--colors-base-white);
    background-color: var(--colors-ory-dark);

    & a:any-link {
      &:hover,
      &:active,
      &:focus {
        color: var(--colors-base-white);
      }
    }
  }
}

:global .theme-default :local .section a:any-link {
  color: var(--colors-ory-default);
}

:global .theme-default :local .section.light a:any-link {
  color: var(--colors-ory-default);
}

:global .theme-hydra :local .section a:any-link {
  color: var(--colors-hydra-default);
}

@media (--sm-viewport) {
  .section {
    padding: 64px 0;
  }
}

@media (--md-viewport) {
  .section {
    padding: 64px 0;
  }
}
