.stats {
  padding: 96px 0;
  position: relative;
  color: var(--colors-ory-dark);
}

@media (--mobile-viewport) {
  .stats {
    padding: 64px 0;
  }
}

:global .theme-default {
  background-color: var(--colors-ory-weak);
  & :local .items .item {
    & .amount * {
      color: var(--colors-ory-default);
    }
  }
}

:global .theme-hydra {
  background-color: var(--colors-hydra-weak);
  & :local .items .item {
    & .amount * {
      color: var(--colors-hydra-default);
    }
  }
}

.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  & .item {
    & .title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 168%;
      text-align: center;
    }

    & .amount * {
      font-weight: bold;
      font-size: 28px;
      line-height: 168%;
      text-align: center;
    }

    & .description {
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 168%;
      text-align: center;
      color: var(--colors-ory-dark);
    }
  }
}

@media (--mobile-viewport) {
  .items {
    flex-direction: column;

    & .item {
      margin-top: 32px;
    }

    & .item:first-child {
      margin-top: 0;
    }
  }
}

.divider {
  border: 1px solid #f04870;
  position: absolute;
  top: 96px;
  bottom: 96px;
  left: 50%;
}
