.team {
  background-color: var(--colors-themed-light);
  padding: 112px 0;

  & h3,
  & p {
    color: var(--colors-base-dark);
  }

  & a:any-link {
    color: var(--colors-themed-default);

    &:hover,
    &:active,
    &:focus {
      color: var(--colors-base-dark);
      text-decoration: underline;
    }
  }
}

@media (--sm-viewport) {
  .team {
    padding: 32px 0;

    & img {
      margin-bottom: 32px;
    }
  }
}

@media (--md-viewport) {
  .team {
    padding: 32px 0;

    & img {
      margin-bottom: 32px;
    }
  }
}
