.divider {
  border-left: 1px solid;
  position: absolute;
  left: 50%;
}

:global .theme-default {
  & :local .divider {
    border-color: var(--colors-brand-secondary);
  }
}

:global .theme-hydra {
  & :local .divider {
    border-color: var(--colors-brand-hydra);
  }
}

@media (--sm-viewport) {
  .divider {
    display: none;
  }
}

@media (--md-viewport) {
  .divider {
    display: none;
  }
}
