.divider {
  border-left: 1px solid;
  position: absolute;
  left: 50%;
}

:global .theme-default {
  & :local .divider {
    border-color: var(--colors-ory-default);
  }
}

:global .theme-hydra {
  & :local .divider {
    border-color: var(--colors-hydra-default);
  }
}

@media (--sm-viewport) {
  .divider {
    display: none;
  }
}

@media (--md-viewport) {
  .divider {
    display: none;
  }
}
